*\.sch-bak
*\.kicad_pcb-bak

circuit/RLCMeterH750/out
circuit/TestDSBGA6/out
circuit/RLCMeterH750_v2/out
circuit/SMD_TestClips/out

h7code/output
h7code/data

h7code/data\.bin

h7code/convolution\.xml
